body {
    background-color: #416165;
    font-family: "Roboto Light", sans-serif;
    font-size: 22px;
    margin: 0;
}

.main-container {
    width: 60rem;
    margin: auto;
    background-color: #F7B2AD;
    padding: 1.8rem;
    border-radius: 1rem;
}

.chapo {
    font-weight: bold;
}

#bigTitle {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

.container {
    width: fit-content;
    margin: auto;
}

.feat-container {
    display: flex;
    align-items: center;
}

#wideI {
    font-size: 7rem;
}

.logo-img {
    height: 5rem;
}

.btn {
    text-decoration: none;
    background-color: #ed9199;
    color: black;
    padding: 0.8rem;
    border-radius: 0.8rem;
}

.btn:hover {
    background-color: #de878f;
}

.minimize {
    padding: 0.1rem;
}

#media-list > li {
    padding: .7rem;
}

#headImg {
    height: 410px;
    width: 100%;
    background-image: url("img/yakuza.png");
    background-size: cover;
    background-repeat: no-repeat;
}